<?php

return array(
	//Todo: Move machines array to database and add options to the frontend to add/remove machines, rather than this hardcoded crap.
	'machines' => array(
		array(
			'host' => '127.0.0.1',
			'port' => 36300,
			'pass' => 'password',
			'sensors' => true),
		array(
			'host' => '10.0.0.1',
			'sensors' => false)
	),
	//Future config options go here...
);